<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-signed-char-misuse</string>
			<key>description</key>
			<string>'signed char' to 'int' conversion; consider casting to 'unsigned char' first.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>fdd678ef6468b04490552ea43ab9121b</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>1382</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>1382</integer>
					</dict>
					<key>message</key>
					<string>'signed char' to 'int' conversion; consider casting to 'unsigned char' first.</string>
				</dict>
			</array>
			<key>type</key>
			<string>clang-tidy</string>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-signed-char-misuse</string>
			<key>description</key>
			<string>'signed char' to 'int' conversion; consider casting to 'unsigned char' first.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>53ad96daa093170f3326d1c38a893681</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>1411</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>1411</integer>
					</dict>
					<key>message</key>
					<string>'signed char' to 'int' conversion; consider casting to 'unsigned char' first.</string>
				</dict>
			</array>
			<key>type</key>
			<string>clang-tidy</string>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-signed-char-misuse</string>
			<key>description</key>
			<string>'signed char' to 'int' conversion; consider casting to 'unsigned char' first.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>3416a8c100e18bc21bebd8d32e681744</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>15</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>2024</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>2024</integer>
					</dict>
					<key>message</key>
					<string>'signed char' to 'int' conversion; consider casting to 'unsigned char' first.</string>
				</dict>
			</array>
			<key>type</key>
			<string>clang-tidy</string>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-signed-char-misuse</string>
			<key>description</key>
			<string>'signed char' to 'int' conversion; consider casting to 'unsigned char' first.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>ac5d693d91f22c962d8f9c4a35452479</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>15</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>2026</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>2026</integer>
					</dict>
					<key>message</key>
					<string>'signed char' to 'int' conversion; consider casting to 'unsigned char' first.</string>
				</dict>
			</array>
			<key>type</key>
			<string>clang-tidy</string>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-signed-char-misuse</string>
			<key>description</key>
			<string>'signed char' to 'int' conversion; consider casting to 'unsigned char' first.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>8d2f31b6cb8a5d502d428613f8159b31</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>13</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>2130</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>13</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>2130</integer>
					</dict>
					<key>message</key>
					<string>'signed char' to 'int' conversion; consider casting to 'unsigned char' first.</string>
				</dict>
			</array>
			<key>type</key>
			<string>clang-tidy</string>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-signed-char-misuse</string>
			<key>description</key>
			<string>'signed char' to 'int' conversion; consider casting to 'unsigned char' first.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>b552770311d6e07f9a92aa042bd0e8c3</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>14</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>2136</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>14</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>2136</integer>
					</dict>
					<key>message</key>
					<string>'signed char' to 'int' conversion; consider casting to 'unsigned char' first.</string>
				</dict>
			</array>
			<key>type</key>
			<string>clang-tidy</string>
		</dict>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-signed-char-misuse</string>
			<key>description</key>
			<string>'signed char' to 'int' conversion; consider casting to 'unsigned char' first.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>f57dc1ae26f6f5b3772d96b5e3b1c87a</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>2730</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>2730</integer>
					</dict>
					<key>message</key>
					<string>'signed char' to 'int' conversion; consider casting to 'unsigned char' first.</string>
				</dict>
			</array>
			<key>type</key>
			<string>clang-tidy</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/Users/yinqianggong/work/tmux/tmux-master/cmd-parse.c</string>
	</array>
</dict>
</plist>
