<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>bugprone</string>
			<key>check_name</key>
			<string>bugprone-sizeof-expression</string>
			<key>description</key>
			<string>suspicious usage of 'sizeof(A*)'; pointer to aggregate</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>8a4c6154e4d9cf0ba95412b2b3a745a1</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>4070</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>4070</integer>
					</dict>
					<key>message</key>
					<string>suspicious usage of 'sizeof(A*)'; pointer to aggregate</string>
				</dict>
			</array>
			<key>type</key>
			<string>clang-tidy</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/Users/yinqianggong/work/tmux/tmux-master/format.c</string>
	</array>
</dict>
</plist>
